<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orts.Simulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Orts.Simulation.Properties.Settings>
            <setting name="Orts_Simulation_cz_aspone_lkpr_WebService" serializeAs="String">
                <value>http://lkpr.aspone.cz/WebService.asmx</value>
            </setting>
        </Orts.Simulation.Properties.Settings>
    </applicationSettings>
</configuration>