<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ORTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
        <binding name="WebServiceSoap1" />
        <binding name="WebServiceSoap2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lkpr.aspfree.cz/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap"
        name="WebServiceSoap" />
      <endpoint address="http://lkpr.aspfree.cz/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap1" contract="ServiceReference1.WebServiceSoap"
        name="WebServiceSoap1" />
      <endpoint address="http://lkpr.aspfree.cz/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap2" contract="ServiceReference1.WebServiceSoap"
        name="WebServiceSoap2" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ORTS.Properties.Settings>
      <setting name="Menu_cz_aspfree_lkpr_WebService" serializeAs="String">
        <value>http://lkpr.aspfree.cz/WebService.asmx</value>
      </setting>
    </ORTS.Properties.Settings>
  </applicationSettings>
</configuration>
